.sidebar
  .userPanel
    .header
      span Players
    .timer
      span Remains:
      span â± 00:04:44
    include userlist.pug 
    .control
      button.button Reset Timer
      button.button Finish
  include invite.pug