include  mixins\discussionTopic.pug 
-
	const Topics = [
		{
			topic: "Topic 1", CustomSetting: null
		},
		{
			topic: "Topic 2", CustomSetting: null
		},
		{
			topic: "Topic 3",CustomSetting: null
		},
		{
			topic: "Topic 4",CustomSetting: null
		},
		{
			topic: "Topic 5",CustomSetting: null
		},
		{
			topic: "Topic 6",CustomSetting: null
		},
		{
			topic: "Topic 7",CustomSetting: null
		},
		{
			topic: "Topic 8",CustomSetting: null
		},
		{
			topic: "Topic 9",CustomSetting: null
		}
	]

.history_wrapper
	.roundHistory_container
		.roundHistory_header
			.tabs
				span Active Stories (!{Topics.length})
				span Completed Stories
			.storiesButton
				span + New
				span 📝 Edit
		.roundHistory_body
			ul.tasks
				each item in Topics
					+Topic(item.topic)